<html>
    <head>
        <title>My first gallery view</title>
    </head>

    <body>
        {{#each posts}}
        <h1>{{this.title}}</h1><br>
        Description: {{this.description}} <br>
        <p>
            {{this.content}} <br>
        </p>
        <img src='../{{this.image}}' height="360px" width = "240px"/> <br>
        <hr>
        {{/each}}

        <a href= '/'>back to home</a>
    </body>
</html>